# Check Karamat Ali Data Sample

In [57]:
import os
import numpy as np
import pandas as pd

In [58]:
os.getcwd()
os.chdir('/Users/edinhamzic/Symphony/wb_bangladesh')
os.getcwd()

'/Users/edinhamzic/Symphony/wb_bangladesh'

In [59]:
hbarguna = pd.read_stata('data/bbs/census2011/hbarguna.dta')
hbarguna.head()

,HH_REC,division,zila,upzila,union,mauza,village,ea,rmo,Q2AHHNO,...,Q4HH_TYPE,Q5NO_HOUSE,Q6TYPE_HOU,Q7TENANCY,Q8DWATERSO,Q9TOILET_F,Q10ELECTRY,Q11AETHPOP,Q11BETH_CD,status
0,2,10,4,9,1,165,0,1,2,1,...,1,2,3,1,2,2,2,2,0,
1,2,10,4,9,1,165,0,1,2,2,...,1,2,3,1,2,2,2,2,0,
2,2,10,4,9,1,165,0,1,2,3,...,1,3,3,1,2,2,1,2,0,
3,2,10,4,9,1,165,0,1,2,4,...,1,3,3,1,2,2,1,2,0,
4,2,10,4,9,1,165,0,1,2,5,...,1,3,3,1,2,3,1,2,0,

In [60]:
fivehbarguna = pd.read_stata('data/bbs/census2011/fivehbarguna.dta')
fivehbarguna.head()

,HH_REC,division,zila,upzila,union,mauza,village,ea,rmo,Q2AHHNO,...,Q3FLOATING,Q4HH_TYPE,Q5NO_HOUSE,Q6TYPE_HOU,Q7TENANCY,Q8DWATERSO,Q9TOILET_F,Q10ELECTRY,Q11AETHPOP,Q11BETH_CD
0,2,10,4,9,1,165,0,1,2,20,...,2,1,2,3,1,2,2,2,2,0
1,2,10,4,9,1,165,0,1,2,40,...,2,1,2,3,1,2,2,2,2,0
2,2,10,4,9,1,165,0,1,2,60,...,2,1,2,3,1,2,2,2,2,0
3,2,10,4,9,1,567,0,1,2,6,...,2,1,2,3,1,2,3,2,2,0
4,2,10,4,9,1,567,0,1,2,26,...,2,1,2,3,1,2,3,2,2,0

## Checking data samples - using upazila

In [64]:
print(np.round(fivehbarguna['upzila'].value_counts() / fivehbarguna.shape[0]*100,2))

9     29.28
28    28.76
85    19.97
47    12.93
19     9.05
Name: upzila, dtype: float64

In [65]:
print(np.round(hbarguna['upzila'].value_counts() / hbarguna.shape[0]*100,2))

9     29.28
28    28.77
85    19.97
47    12.93
19     9.05
Name: upzila, dtype: float64

In [66]:
print(np.round(fivehbarguna['upzila'].value_counts()/hbarguna['upzila'].value_counts()*100,2))

9     5.0
28    5.0
85    5.0
47    5.0
19    5.0
Name: upzila, dtype: float64

## Checking data samples - using village

In [73]:
print(np.sort(np.round(fivehbarguna['village'].value_counts()/hbarguna['village'].value_counts()*100,2)))

[3.45 4.52 4.63 4.66 4.76 4.82 4.84 4.91 4.95 4.97 4.99 5.   5.   5.
 5.   5.03 5.03 5.07 5.13 5.16 5.28 5.34 5.42 5.45 5.56 5.63]

## Checking data samples - using mauza

In [74]:
print(np.sort(np.round(fivehbarguna['mauza'].value_counts()/hbarguna['mauza'].value_counts()*100,2)))

[4.29 4.31 4.6  4.61 4.65 4.69 4.71 4.8  4.81 4.81 4.84 4.85 4.85 4.86
 4.86 4.86 4.87 4.87 4.87 4.88 4.89 4.89 4.89 4.9  4.9  4.9  4.9  4.9
 4.9  4.9  4.9  4.91 4.91 4.91 4.92 4.92 4.92 4.93 4.94 4.94 4.94 4.94
 4.94 4.94 4.94 4.94 4.95 4.95 4.95 4.95 4.95 4.95 4.95 4.96 4.96 4.96
 4.96 4.96 4.96 4.96 4.96 4.96 4.96 4.97 4.97 4.97 4.97 4.97 4.97 4.97
 4.98 4.98 4.98 4.98 4.98 4.98 4.98 4.98 4.98 4.98 4.98 4.98 4.98 4.98
 4.99 4.99 4.99 4.99 4.99 4.99 4.99 4.99 4.99 4.99 4.99 5.   5.   5.
 5.   5.   5.   5.   5.   5.   5.   5.   5.   5.   5.   5.   5.   5.
 5.   5.   5.   5.01 5.01 5.01 5.01 5.01 5.01 5.01 5.01 5.01 5.01 5.01
 5.01 5.01 5.01 5.01 5.01 5.01 5.01 5.02 5.02 5.02 5.02 5.02 5.02 5.02
 5.02 5.02 5.02 5.02 5.02 5.02 5.02 5.02 5.02 5.03 5.03 5.03 5.03 5.03
 5.03 5.03 5.03 5.03 5.03 5.03 5.03 5.03 5.03 5.03 5.04 5.04 5.04 5.04
 5.04 5.04 5.04 5.04 5.04 5.05 5.05 5.05 5.05 5.05 5.05 5.05 5.05 5.05
 5.05 5.05 5.05 5.06 5.06 5.06 5.06 5.07 5.07 5.07 5.07 5.08 5.08 5.08
 5.09 5.09 5.1  5.1  5.1  5.1  5.11 5.11 5.12 5.12 5.13 5.13 5.13 5.13
 5.13 5.15 5.19 5.2  5.2  5.21 5.24 5.24 5.26 5.29 5.31 5.33 5.33 5.36
 5.45 5.59 5.97]

## Checking data samples - using union

In [75]:
print(np.sort(np.round(fivehbarguna['union'].value_counts()/hbarguna['union'].value_counts()*100,2)))

[4.94 4.95 4.97 4.99 4.99 4.99 4.99 4.99 4.99 4.99 4.99 5.   5.   5.
 5.   5.   5.   5.   5.   5.   5.   5.   5.   5.   5.01 5.01 5.01 5.01
 5.01 5.02 5.02 5.02 5.03 5.08 5.08]

## Checking data samples - using ea

In [76]:
print(np.sort(np.round(fivehbarguna['ea'].value_counts()/hbarguna['ea'].value_counts()*100,2)))

[4.81 4.89 4.9  4.92 4.94 4.95 4.96 4.98 5.   5.   5.   5.   5.01 5.01
 5.03 5.03 5.09 5.45]