# Assessing BBS data: Provided in WB1 folder

- This notebook is created to assess the quality and type of data provided by Bangladesh Bureau of Statistics. 
- This specific notebook is used to assess data as provided in the form of "WB1" directory [data/bbs/census2011_svrs_first_sample/wb1].
- There were specified file output.

## Getting necessary packages

In [2]:
import os
import glob
import tzlocal
import numpy as np
import pandas as pd
from scipy import io
from dbfread import DBF
import matplotlib.pyplot as plt
import rpy2.robjects as robjects
from rpy2.robjects import packages
from rpy2.robjects import pandas2ri

## Functions

In [3]:
def import_stata(path):
    """
    path: directory where STATA files are stored
    pattern: file extension pattern
    returns list of pandas dataframes
    """
    stata_files = glob.glob(os.path.join(path, '*.dta'))
    output = dict()
    for file in stata_files:
        data = pd.read_stata(file)
        output[file] = data
    return output
def import_sav(file):
    """
    file: full path to a SPSS file to be imported
    """
    foreign = packages.importr('foreign')
    pandas2ri.activate()
    df = foreign.read_spss(file, reencode=False)
    return pd.DataFrame(dict(zip(df.names, map(list,list(df)))))

def get_names(dbf_data):
    variable_names = list()
    tafsil_names = list()
    for num, names in enumerate(dbf_data):
        variable_names = variable_names + list(dbf_data[names].columns)
        tafsil_names = tafsil_names + ([names] * len(list(dbf_data[names].columns)))
    return pd.DataFrame(np.column_stack([variable_names, tafsil_names]), columns = ['variables', 'dataset'])

## Importing data

### Importing STATA files from WB1 directory

In [4]:
WD = "/Users/edinhamzic/Symphony/wb_bangladesh/"
print(os.getcwd())
os.chdir()

/Users/edinhamzic/Symphony/wb_bangladesh/fe/bbs

FileNotFoundError: [Errno 2] No such file or directory: '5PCRT'

In [5]:
hous2011 = import_sav('5PCRT/hous2011.sav')
hous2011.head()

,D_R,hh_rec,division,zila,upzila,union,mauza,village,ea,rmo,...,floating,hh_type,no_house,type_hou,tenancy,dwaterso,toilet_f,electry,ethenpop,ethn_cod
0,,2,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,2.0,1.0,3.0,3.0,1.0,2.0,2.0,1.0,2.0,0.0
1,,2,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,2.0,1.0,2.0,3.0,1.0,2.0,2.0,1.0,2.0,0.0
2,,2,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,2.0,1.0,2.0,3.0,1.0,2.0,2.0,2.0,2.0,0.0
3,,2,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,2.0,1.0,2.0,3.0,1.0,2.0,3.0,1.0,2.0,0.0
4,,2,10.0,4.0,9.0,1.0,567.0,0.0,1.0,2.0,...,2.0,1.0,2.0,3.0,1.0,2.0,3.0,1.0,2.0,0.0

In [17]:
hous2011.columns

Index(['D_R', 'hh_rec', 'division', 'zila', 'upzila', 'union', 'mauza',
       'village', 'ea', 'rmo', 'hhno', 'serial_no', 'hhsize', 'floating',
       'hh_type', 'no_house', 'type_hou', 'tenancy', 'dwaterso', 'toilet_f',
       'electry', 'ethenpop', 'ethn_cod'],
      dtype='object')

In [14]:
hous2011['floating'].value_counts()

2.0    1608678
1.0        410
Name: floating, dtype: int64

In [6]:
for variable in hous2011.columns:
    print("#################################################")
    print(f"Summary for the variable: {variable}")
    print("#################################################")
    tmp = hous2011.copy(deep=True)
    print(tmp[variable].value_counts())
    print(len(tmp[variable].unique()))

#################################################
Summary for the variable: D_R
#################################################
     1609088
Name: D_R, dtype: int64
1
#################################################
Summary for the variable: hh_rec
#################################################
2    1609088
Name: hh_rec, dtype: int64
1
#################################################
Summary for the variable: division
#################################################
30.0    542628
20.0    281399
50.0    224376
55.0    190915
40.0    187025
10.0     93175
60.0     89570
Name: division, dtype: int64
7
#################################################
Summary for the variable: zila
#################################################
26.0    139359
15.0     76617
61.0     57780
19.0     52688
93.0     43513
10.0     43363
33.0     41337
85.0     36015
27.0     35798
88.0     35754
67.0     33793
41.0     32826
64.0     32795
81.0     31693
48.0     31372
32.0     30618
91.0     29812
75.0     29702
76.0     29541
39.0     28171
47.0     27374
12.0     26954
6.0      25691
49.0     25405
13.0     25336
72.0     23964
68.0     23901
50.0     23867
87.0     23496
90.0     22024
         ...
22.0     20810
36.0     19672
9.0      18644
51.0     18273
58.0     18062
70.0     17901
1.0      17722
78.0     17331
89.0     17074
56.0     16243
94.0     16041
59.0     15684
52.0     14526
30.0     13888
18.0     13874
79.0     12805
54.0     12612
35.0     12497
86.0     12399
38.0     12131
82.0     11910
77.0     11431
4.0      10795
55.0     10298
57.0      8316
65.0      8133
42.0      7909
46.0      6692
84.0      6430
3.0       4009
Name: zila, Length: 64, dtype: int64
64
#################################################
Summary for the variable: upzila
#################################################
94.0    53530
47.0    50938
58.0    43058
30.0    40894
72.0    33471
85.0    31369
36.0    31318
33.0    28160
76.0    28004
4.0     26306
64.0    26135
38.0    25396
61.0    24472
7.0     23460
67.0    22470
90.0    22191
88.0    22075
18.0    22044
82.0    21575
28.0    20947
49.0    20160
74.0    20085
66.0    19953
43.0    19704
60.0    19538
10.0    19287
29.0    19258
40.0    19234
52.0    19164
87.0    19120
        ...
70.0    12421
39.0    12362
77.0    11993
13.0    11970
68.0    11941
34.0    11859
42.0    11856
78.0    11449
21.0    11399
69.0    11178
16.0    11153
71.0    11054
37.0    10828
44.0     9864
53.0     9852
41.0     9612
3.0      8671
92.0     7080
75.0     7021
17.0     7009
48.0     6812
84.0     6578
26.0     6017
5.0      5561
89.0     5241
35.0     3884
46.0     3560
59.0     3500
93.0     1934
96.0      915
Name: upzila, Length: 95, dtype: int64
95
#################################################
Summary for the variable: union
#################################################
47.0    63865
94.0    46898
13.0    43127
31.0    40326
63.0    34684
11.0    34261
17.0    34049
19.0    33033
38.0    32319
23.0    31605
15.0    30496
71.0    29194
76.0    27441
57.0    26360
85.0    25904
25.0    25844
21.0    25696
27.0    25035
51.0    24948
10.0    23131
28.0    23018
43.0    22630
35.0    22559
67.0    22417
83.0    21911
7.0     21418
77.0    21003
69.0    20906
54.0    20823
66.0    20580
        ...
58.0     9799
61.0     8694
75.0     8212
90.0     7610
41.0     7527
82.0     7304
44.0     7254
53.0     6874
74.0     6690
72.0     6233
56.0     6211
24.0     5617
30.0     5516
78.0     4464
26.0     4439
45.0     4321
70.0     3898
32.0     3197
92.0     3073
91.0     2592
49.0     2572
93.0     2519
62.0     2326
64.0     1986
68.0     1883
48.0     1822
98.0     1464
46.0     1401
96.0     1084
97.0      621
Name: union, Length: 98, dtype: int64
98
#################################################
Summary for the variable: mauza
#################################################
994.0    11155
497.0     6521
248.0     5802
331.0     5654
663.0     5401
590.0     4667
710.0     4605
165.0     4025
895.0     3948
995.0     3696
348.0     3593
300.0     3462
621.0     3424
500.0     3404
410.0     3210
400.0     3177
635.0     3173
790.0     3166
650.0     3136
51.0      3095
746.0     3046
773.0     3030
884.0     3030
829.0     3022
199.0     2999
687.0     2984
750.0     2983
706.0     2973
78.0      2965
628.0     2959
         ...
316.0      818
101.0      812
958.0      803
166.0      795
573.0      771
711.0      769
984.0      756
607.0      743
991.0      732
496.0      730
622.0      700
853.0      700
303.0      693
996.0      677
944.0      654
214.0      649
828.0      644
664.0      591
3.0        555
745.0      555
332.0      474
992.0      436
498.0      342
249.0      329
997.0      250
662.0      240
993.0      188
2.0        143
1.0         46
999.0       25
Name: mauza, Length: 999, dtype: int64
999
#################################################
Summary for the variable: village
#################################################
1.0     970587
0.0     306789
2.0     132065
3.0      63715
4.0      37761
5.0      24542
6.0      15939
7.0      12482
8.0       9210
9.0       7713
10.0      4998
11.0      4113
12.0      3402
13.0      2560
14.0      1976
15.0      1870
16.0      1582
17.0      1185
18.0       822
19.0       751
20.0       733
21.0       531
22.0       474
24.0       431
23.0       381
25.0       315
26.0       303
27.0       278
28.0       215
29.0       200
         ...
37.0        48
36.0        41
38.0        35
39.0        34
41.0        28
40.0        28
42.0        27
45.0        22
55.0        20
53.0        19
44.0        17
43.0        17
46.0        17
51.0        16
50.0        15
57.0        15
48.0        14
54.0        14
49.0        13
52.0        13
64.0        12
56.0        12
58.0        12
47.0        11
66.0         6
60.0         6
61.0         5
65.0         5
62.0         2
63.0         1
Name: village, Length: 66, dtype: int64
66
#################################################
Summary for the variable: ea
#################################################
1.0     489387
2.0     321532
3.0     198595
4.0     131876
5.0      90788
6.0      65293
7.0      46762
8.0      35736
9.0      27337
10.0     22778
11.0     18288
12.0     15878
13.0     12668
14.0     10814
15.0      9279
16.0      8155
17.0      7278
18.0      6550
19.0      5653
20.0      5049
21.0      4481
22.0      4096
23.0      3782
24.0      3581
25.0      3319
26.0      3102
27.0      2886
28.0      2720
29.0      2485
30.0      2468
         ...
70.0       357
71.0       339
72.0       322
73.0       321
74.0       317
75.0       294
76.0       292
77.0       284
80.0       246
79.0       242
78.0       241
83.0       234
82.0       232
84.0       218
81.0       216
85.0       204
87.0       196
86.0       192
88.0       171
89.0       156
91.0       141
90.0       138
92.0       138
96.0       130
94.0       130
93.0       127
95.0       125
98.0       118
97.0       114
99.0       107
Name: ea, Length: 99, dtype: int64
99
#################################################
Summary for the variable: rmo
#################################################
1.0    1233815
2.0     177262
9.0     128048
3.0      68480
5.0       1483
Name: rmo, dtype: int64
5
#################################################
Summary for the variable: hhno
#################################################
1.0       15339
7.0       15206
2.0       15168
8.0       15082
3.0       15010
5.0       14909
16.0      14901
9.0       14900
12.0      14877
4.0       14840
11.0      14837
10.0      14805
15.0      14803
20.0      14796
27.0      14784
6.0       14742
22.0      14736
14.0      14735
21.0      14709
18.0      14686
19.0      14673
28.0      14591
23.0      14581
25.0      14558
13.0      14540
36.0      14484
24.0      14467
30.0      14454
26.0      14443
17.0      14438
          ...
711.0         1
714.0         1
716.0         1
718.0         1
803.0         1
801.0         1
468.0         1
791.0         1
790.0         1
788.0         1
787.0         1
470.0         1
779.0         1
776.0         1
767.0         1
766.0         1
747.0         1
746.0         1
743.0         1
741.0         1
737.0         1
672.0         1
731.0         1
730.0         1
9920.0        1
727.0         1
725.0         1
724.0         1
723.0         1
510.0         1
Name: hhno, Length: 820, dtype: int64
820
#################################################
Summary for the variable: serial_no
#################################################

6.027687e+11    4
6.027719e+11    3
6.027710e+11    3
6.028761e+11    3
6.027736e+11    3
6.028770e+11    3
6.027683e+11    2
6.027737e+11    2
6.025931e+11    2
6.027693e+11    2
6.027711e+11    2
6.027707e+11    2
6.028783e+11    2
6.027687e+11    2
6.027707e+11    2
6.031849e+11    2
6.027741e+11    2
6.028759e+11    2
3.002014e+11    2
6.008559e+11    2
6.028096e+11    2
6.028751e+11    2
6.028769e+11    2
6.027709e+11    2
6.027697e+11    2
6.029541e+11    2
6.027707e+11    2
6.027697e+11    2
6.027723e+11    2
6.027672e+11    2
               ..
6.008196e+11    1
6.013049e+11    1
6.011290e+11    1
6.015467e+11    1
6.021442e+11    1
6.016626e+11    1
6.012990e+11    1
6.030964e+11    1
6.030413e+11    1
1.506795e+11    1
6.007116e+11    1
6.003574e+11    1
6.008286e+11    1
1.500597e+11    1
6.003994e+11    1
6.031886e+11    1
6.000811e+11    1
6.006856e+11    1
6.010564e+11    1
6.000826e+11    1
6.011386e+11    1
6.005353e+11    1
6.014249e+11    1
6.027152e+11    1
6.030956e+11    1
6.026347e+11    1
6.015474e+11    1
3.001818e+11    1
1.504387e+11    1
6.012964e+11    1
Name: serial_no, Length: 1608949, dtype: int64
1608949
#################################################
Summary for the variable: hhsize
#################################################
4.0       394081
3.0       310161
5.0       294621
6.0       174509
2.0       172753
7.0        93381
1.0        54101
8.0        50281
9.0        28083
10.0       22033
11.0        4124
12.0        3117
13.0        2034
14.0        1477
15.0         941
16.0         722
17.0         500
18.0         334
20.0         302
19.0         260
21.0          96
22.0          94
23.0          91
24.0          79
30.0          67
25.0          63
26.0          48
27.0          46
28.0          41
29.0          30
           ...
491.0          1
222.0          1
220.0          1
215.0          1
137.0          1
86.0           1
91.0           1
1200.0         1
94.0           1
1694.0         1
497.0          1
124.0          1
127.0          1
129.0          1
135.0          1
136.0          1
140.0          1
198.0          1
149.0          1
151.0          1
157.0          1
158.0          1
163.0          1
164.0          1
165.0          1
170.0          1
171.0          1
183.0          1
186.0          1
118.0          1
Name: hhsize, Length: 174, dtype: int64
174
#################################################
Summary for the variable: floating
#################################################
2.0    1608678
1.0        410
Name: floating, dtype: int64
2
#################################################
Summary for the variable: hh_type
#################################################
1.0    1593234
3.0      14137
2.0       1307
0.0        410
Name: hh_type, dtype: int64
4
#################################################
Summary for the variable: no_house
#################################################
2.0    513427
1.0    355110
3.0    273416
0.0    267142
4.0     93390
9.0     67066
5.0     25120
6.0      8720
7.0      3457
8.0      2240
Name: no_house, dtype: int64
10
#################################################
Summary for the variable: type_hou
#################################################
3.0    1056410
2.0     318316
1.0     187439
4.0      46513
0.0        410
Name: type_hou, dtype: int64
5
#################################################
Summary for the variable: tenancy
#################################################
1.0    1324942
2.0     229748
3.0      53988
0.0        410
Name: tenancy, dtype: int64
4
#################################################
Summary for the variable: dwaterso
#################################################
2.0    1343245
1.0     171931
3.0      93502
0.0        410
Name: dwaterso, dtype: int64
4
#################################################
Summary for the variable: toilet_f
#################################################
2.0    622405
3.0    458597
1.0    403484
4.0    124192
0.0       410
Name: toilet_f, dtype: int64
5
#################################################
Summary for the variable: electry
#################################################
1.0    908489
2.0    700189
0.0       410
Name: electry, dtype: int64
3
#################################################
Summary for the variable: ethenpop
#################################################
2.0    1590830
1.0      17848
0.0        410
Name: ethenpop, dtype: int64
3
#################################################
Summary for the variable: ethn_cod
#################################################
0.0     1591240
1.0        4949
2.0        2324
28.0       2279
13.0       1756
3.0        1390
18.0       1031
22.0        958
23.0        639
5.0         443
26.0        425
4.0         343
17.0        287
12.0        223
16.0        158
6.0         132
19.0        127
20.0        103
24.0         70
9.0          39
25.0         37
27.0         34
10.0         30
8.0          29
7.0          22
14.0          8
11.0          7
15.0          4
21.0          1
Name: ethn_cod, dtype: int64
29

In [ ]:
tmp[].value_counts()

In [16]:
popu2011.columns

Index(['D_R', 'pop_rec', 'division', 'zila', 'upzila', 'union', 'mauza',
       'village', 'ea', 'rmo', 'hhno', 'serial_no', 'mem_serial', 'age',
       'relation', 'sex', 'mar_stat', 'religion', 'disable', 'student',
       'h_class', 'edu_fild', 'literacy', 'activity', 'emply_fl'],
      dtype='object')

In [11]:
popu2011.head()

,D_R,pop_rec,division,zila,upzila,union,mauza,village,ea,rmo,...,sex,mar_stat,religion,disable,student,h_class,edu_fild,literacy,activity,emply_fl
0,,1,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,2.0,1.0,1.0,0.0,2.0,9.0,1.0,1.0,3.0,0.0
1,,1,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,1.0,2.0,1.0,0.0,1.0,10.0,1.0,1.0,4.0,0.0
2,,1,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,1.0,2.0,2.0,0.0,2.0,5.0,1.0,1.0,1.0,1.0
3,,1,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,2.0,2.0,2.0,0.0,2.0,0.0,4.0,2.0,3.0,0.0
4,,1,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,1.0,1.0,2.0,0.0,2.0,7.0,1.0,1.0,1.0,3.0

In [9]:
for variable in popu2011.columns:
    print("#################################################")
    print(f"Summary for the variable: {variable}")
    print("#################################################")
    tmp = popu2011.copy(deep=True)
    print(tmp[variable].value_counts())
    print(len(tmp[variable].unique()))

#################################################
Summary for the variable: D_R
#################################################
     7205720
Name: D_R, dtype: int64
1
#################################################
Summary for the variable: pop_rec
#################################################
1    7205720
Name: pop_rec, dtype: int64
1
#################################################
Summary for the variable: division
#################################################
30.0    2375225
20.0    1422571
50.0     924436
55.0     788027
40.0     784807
60.0     496480
10.0     414174
Name: division, dtype: int64
7
#################################################
Summary for the variable: zila
#################################################
26.0    604771
15.0    381686
19.0    269546
61.0    255902
93.0    180487
91.0    170924
10.0    170510
33.0    170413
88.0    155780
75.0    155491
27.0    149305
67.0    148185
48.0    145373
85.0    142894
12.0    142426
41.0    138874
64.0    129610
81.0    128968
76.0    126061
90.0    124262
13.0    120344
32.0    119115
47.0    115572
6.0     115429
39.0    114620
22.0    114264
68.0    111374
72.0    111340
36.0    105523
49.0    103498
         ...
73.0     91555
9.0      88912
44.0     88422
51.0     86339
69.0     85207
70.0     82481
78.0     76496
1.0      73739
30.0     72087
59.0     72014
56.0     69861
94.0     69505
89.0     68042
52.0     62692
35.0     58583
54.0     58278
86.0     57863
18.0     56527
79.0     55239
82.0     52478
77.0     49463
55.0     46021
38.0     45819
4.0      44519
65.0     36127
42.0     33579
57.0     32545
46.0     30654
84.0     30141
3.0      19593
Name: zila, Length: 64, dtype: int64
64
#################################################
Summary for the variable: upzila
#################################################
94.0    240632
47.0    222986
58.0    183819
30.0    166682
36.0    139552
72.0    139262
85.0    137510
33.0    134456
76.0    120215
4.0     117659
64.0    115224
38.0    114944
7.0     109143
61.0    105649
18.0    104661
90.0    101012
67.0     99945
74.0     95945
88.0     95229
49.0     94001
82.0     93559
66.0     92340
29.0     90319
87.0     90269
28.0     88331
40.0     88072
43.0     87505
52.0     85363
86.0     84898
60.0     84349
         ...
13.0     54951
50.0     54106
91.0     54015
16.0     53596
77.0     53517
34.0     52641
78.0     51767
42.0     51124
21.0     51026
37.0     50627
39.0     50470
71.0     49385
69.0     47480
41.0     46736
53.0     45996
44.0     45666
3.0      36330
92.0     32856
17.0     32782
75.0     31040
84.0     29746
48.0     29196
26.0     28007
5.0      26991
89.0     25486
35.0     20072
59.0     19311
46.0     15854
93.0      7864
96.0      3927
Name: upzila, Length: 95, dtype: int64
95
#################################################
Summary for the variable: union
#################################################
47.0    286282
94.0    205821
13.0    192704
31.0    176635
63.0    154991
11.0    153579
17.0    150709
19.0    145846
38.0    144954
23.0    141934
15.0    136948
71.0    130967
76.0    124974
85.0    118559
57.0    118145
25.0    114016
21.0    112462
27.0    111936
51.0    110443
10.0    104193
28.0    103529
35.0    102490
43.0     99474
83.0     99035
67.0     98802
7.0      95279
77.0     94382
66.0     93518
69.0     92226
54.0     90455
         ...
58.0     43102
61.0     38650
90.0     36892
75.0     36819
41.0     33822
82.0     33403
53.0     32044
44.0     31865
56.0     29694
74.0     28904
72.0     28346
24.0     25661
30.0     25344
45.0     21595
78.0     19616
26.0     19443
70.0     19318
32.0     15150
92.0     14616
91.0     11953
49.0     11858
93.0     11117
62.0     10814
64.0      9982
68.0      9516
98.0      8771
48.0      7764
46.0      6095
96.0      5150
97.0      2691
Name: union, Length: 98, dtype: int64
98
#################################################
Summary for the variable: mauza
#################################################
994.0    49883
497.0    28554
331.0    26096
248.0    25584
663.0    24296
710.0    20396
590.0    20046
165.0    18434
895.0    17612
995.0    16335
300.0    15885
348.0    15300
500.0    14847
621.0    14512
400.0    14313
790.0    14111
829.0    14027
410.0    14004
635.0    13704
773.0    13681
750.0    13517
746.0    13482
680.0    13461
650.0    13446
687.0    13438
884.0    13432
841.0    13396
706.0    13372
110.0    13334
199.0    12993
         ...
996.0     3603
316.0     3561
958.0     3553
101.0     3531
573.0     3467
166.0     3452
711.0     3401
991.0     3350
984.0     3209
607.0     3206
853.0     3144
622.0     3144
303.0     3141
214.0     3114
496.0     3102
944.0     3036
828.0     2751
745.0     2572
664.0     2555
3.0       2535
332.0     2043
992.0     2035
498.0     1623
249.0     1430
662.0     1041
997.0      993
993.0      817
2.0        625
1.0        226
999.0      109
Name: mauza, Length: 999, dtype: int64
999
#################################################
Summary for the variable: village
#################################################
1.0     4324622
0.0     1375550
2.0      595910
3.0      288819
4.0      171023
5.0      111004
6.0       72915
7.0       56737
8.0       41757
9.0       35276
10.0      22981
11.0      19055
12.0      15603
13.0      12420
14.0       9372
15.0       8686
16.0       7131
17.0       5712
18.0       3768
19.0       3450
20.0       3379
21.0       2533
22.0       2268
23.0       2069
24.0       1990
25.0       1448
27.0       1423
26.0       1365
28.0        991
29.0        933
         ...
37.0        223
36.0        182
39.0        174
38.0        153
41.0        141
40.0        138
42.0        125
45.0        106
55.0         95
53.0         95
51.0         84
46.0         80
43.0         75
48.0         72
44.0         69
54.0         66
50.0         65
52.0         63
49.0         61
58.0         61
57.0         58
47.0         57
56.0         52
64.0         51
60.0         25
61.0         24
65.0         22
66.0         20
62.0         11
63.0          5
Name: village, Length: 66, dtype: int64
66
#################################################
Summary for the variable: ea
#################################################
1.0     2221509
2.0     1441366
3.0      886448
4.0      587265
5.0      404084
6.0      289515
7.0      208368
8.0      158068
9.0      122085
10.0     100154
11.0      81583
12.0      70492
13.0      56202
14.0      48156
15.0      40949
16.0      35867
17.0      32136
18.0      28750
19.0      25207
20.0      22522
21.0      19844
22.0      18227
23.0      16251
24.0      15553
25.0      14749
26.0      13631
27.0      12523
28.0      12276
29.0      10826
30.0      10739
         ...
70.0       1438
72.0       1423
71.0       1379
75.0       1366
73.0       1324
74.0       1299
78.0       1259
76.0       1218
77.0       1143
79.0       1137
82.0       1040
80.0       1034
83.0        930
81.0        908
85.0        904
84.0        837
86.0        829
87.0        753
88.0        683
91.0        645
89.0        642
92.0        588
94.0        573
96.0        573
93.0        545
98.0        527
90.0        521
97.0        517
95.0        492
99.0        454
Name: ea, Length: 99, dtype: int64
99
#################################################
Summary for the variable: rmo
#################################################
1.0    5525485
2.0     792306
9.0     574273
3.0     304588
5.0       9068
Name: rmo, dtype: int64
5
#################################################
Summary for the variable: hhno
#################################################
1.0       88632
2.0       71677
3.0       69292
7.0       69071
5.0       68838
6.0       68779
8.0       68709
4.0       68348
9.0       67870
11.0      67168
12.0      67109
16.0      67063
10.0      66984
15.0      66791
20.0      66708
14.0      66639
22.0      66053
21.0      66031
19.0      65940
23.0      65853
27.0      65759
18.0      65662
13.0      65637
25.0      65507
28.0      65505
17.0      65106
30.0      65051
32.0      64931
24.0      64621
26.0      64580
          ...
412.0         2
362.0         2
520.0         2
679.0         2
790.0         2
631.0         2
9047.0        2
9040.0        2
9819.0        2
671.0         2
423.0         2
9879.0        2
9028.0        2
706.0         2
632.0         2
633.0         2
718.0         2
723.0         2
616.0         2
991.0         2
9948.0        1
638.0         1
458.0         1
9928.0        1
9973.0        1
493.0         1
9942.0        1
5081.0        1
9952.0        1
681.0         1
Name: hhno, Length: 820, dtype: int64
820
#################################################
Summary for the variable: serial_no
#################################################

1.510473e+11    1694
6.000265e+11    1200
6.017988e+11     700
6.005197e+11     637
6.020937e+11     586
6.003112e+11     549
6.000351e+11     520
6.001125e+11     506
6.005729e+11     497
6.002422e+11     496
6.007508e+11     491
6.003363e+11     477
1.505044e+11     460
6.016985e+11     436
6.008699e+11     423
6.000253e+11     406
6.017143e+11     404
3.001610e+11     380
6.000306e+11     370
1.512155e+11     340
3.002573e+11     303
1.502264e+11     300
6.034957e+11     288
1.501258e+11     280
6.021137e+11     277
6.026669e+11     272
6.009047e+11     272
6.021257e+11     261
1.509229e+11     258
6.015403e+11     250
                ...
6.026217e+11       1
6.016200e+11       1
6.025496e+11       1
1.506104e+11       1
6.009285e+11       1
6.027260e+11       1
6.015771e+11       1
6.002641e+11       1
6.034841e+11       1
1.508000e+11       1
6.027732e+11       1
6.031840e+11       1
1.506926e+11       1
6.006998e+11       1
6.009093e+11       1
6.018032e+11       1
6.001734e+11       1
6.006614e+11       1
1.507887e+11       1
6.031459e+11       1
6.010898e+11       1
6.012231e+11       1
6.018145e+11       1
6.007101e+11       1
6.015594e+11       1
6.010470e+11       1
6.029481e+11       1
6.031106e+11       1
6.002155e+11       1
6.020919e+11       1
Name: serial_no, Length: 1608801, dtype: int64
1608801
#################################################
Summary for the variable: mem_serial
#################################################
1.0       1609055
2.0       1554944
3.0       1382196
4.0       1072025
5.0        677952
6.0        383340
7.0        208840
8.0        115467
9.0         65196
10.0        37116
11.0        15087
12.0        10960
13.0         7843
14.0         5809
15.0         4332
16.0         3391
17.0         2669
18.0         2169
19.0         1835
20.0         1575
21.0         1273
22.0         1177
23.0         1083
24.0          992
25.0          913
26.0          850
27.0          802
28.0          756
29.0          715
30.0          685
           ...
1353.0          1
1354.0          1
1369.0          1
1381.0          1
1380.0          1
1379.0          1
1378.0          1
1377.0          1
1376.0          1
1375.0          1
1374.0          1
1373.0          1
1372.0          1
1371.0          1
1370.0          1
1368.0          1
1355.0          1
1367.0          1
1366.0          1
1365.0          1
1364.0          1
1363.0          1
1362.0          1
1361.0          1
1360.0          1
1359.0          1
1358.0          1
1357.0          1
1356.0          1
1693.0          1
Name: mem_serial, Length: 1694, dtype: int64
1694
#################################################
Summary for the variable: age
#################################################
30.0    281937
25.0    259001
35.0    257786
40.0    256391
10.0    209998
20.0    203146
8.0     195129
12.0    194853
45.0    194477
50.0    189962
7.0     189110
22.0    183004
5.0     182971
18.0    182874
6.0     181616
3.0     178601
4.0     170137
2.0     160035
9.0     159980
28.0    155259
14.0    147987
60.0    147443
15.0    146889
11.0    140953
13.0    139185
1.0     137917
16.0    119733
55.0    112151
26.0    110929
32.0    107661
         ...
85.0      9622
64.0      8686
72.0      8465
99.0      7231
66.0      7190
67.0      7049
69.0      5825
71.0      5582
73.0      5152
78.0      4353
74.0      3883
76.0      3103
82.0      2812
95.0      2617
77.0      2469
79.0      2429
81.0      2308
83.0      1798
84.0      1364
88.0      1026
86.0       896
87.0       891
89.0       762
92.0       684
98.0       571
91.0       554
93.0       410
94.0       298
96.0       265
97.0       230
Name: age, Length: 100, dtype: int64
100
#################################################
Summary for the variable: relation
#################################################
3.0    3034093
1.0    1593202
2.0    1289995
4.0    1067321
0.0     125145
5.0      95964
Name: relation, dtype: int64
6
#################################################
Summary for the variable: sex
#################################################
1.0    3607701
2.0    3598019
Name: sex, dtype: int64
2
#################################################
Summary for the variable: mar_stat
#################################################
2.0    3499333
1.0    3436322
3.0     243659
4.0      26406
Name: mar_stat, dtype: int64
4
#################################################
Summary for the variable: religion
#################################################
1.0    6514591
2.0     614620
4.0      44629
3.0      21910
5.0       9970
Name: religion, dtype: int64
5
#################################################
Summary for the variable: disable
#################################################
0.0    7104278
4.0      39752
2.0      19770
1.0      13692
5.0      12697
3.0       9378
6.0       6153
Name: disable, dtype: int64
7
#################################################
Summary for the variable: student
#################################################
2.0    5566345
1.0    1639375
Name: student, dtype: int64
2
#################################################
Summary for the variable: h_class
#################################################
0.0     3078388
5.0      747540
9.0      414205
10.0     402158
8.0      395505
2.0      341874
4.0      332231
3.0      327442
7.0      261333
1.0      254124
6.0      247393
12.0     236862
15.0      83067
18.0      50263
16.0      33335
Name: h_class, dtype: int64
15
#################################################
Summary for the variable: edu_fild
#################################################
1.0    3868164
4.0    1961034
0.0    1117355
3.0     229864
2.0      29303
Name: edu_fild, dtype: int64
5
#################################################
Summary for the variable: literacy
#################################################
1.0    3151393
2.0    2936970
0.0    1117357
Name: literacy, dtype: int64
3
#################################################
Summary for the variable: activity
#################################################
1.0    2123058
4.0    2057472
3.0    1851082
0.0    1117355
2.0      56753
Name: activity, dtype: int64
5
#################################################
Summary for the variable: emply_fl
#################################################
0.0    5082663
1.0     997872
3.0     808807
2.0     316378
Name: emply_fl, dtype: int64
4

In [7]:
popu2011 = import_sav('5PCRT/popu2011.sav')
popu2011.head()

,D_R,pop_rec,division,zila,upzila,union,mauza,village,ea,rmo,...,sex,mar_stat,religion,disable,student,h_class,edu_fild,literacy,activity,emply_fl
0,,1,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,2.0,1.0,1.0,0.0,2.0,9.0,1.0,1.0,3.0,0.0
1,,1,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,1.0,2.0,1.0,0.0,1.0,10.0,1.0,1.0,4.0,0.0
2,,1,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,1.0,2.0,2.0,0.0,2.0,5.0,1.0,1.0,1.0,1.0
3,,1,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,2.0,2.0,2.0,0.0,2.0,0.0,4.0,2.0,3.0,0.0
4,,1,10.0,4.0,9.0,1.0,165.0,0.0,1.0,2.0,...,1.0,1.0,2.0,0.0,2.0,7.0,1.0,1.0,1.0,3.0

## Assessing the data quality, geo and variable availablility

In [17]:
stata_data.keys()
print(stata_data['wb1/HH2011.dta'].shape)
print(stata_data['wb1/POP2011.dta'].shape)

dict_keys([])

In [5]:
stata_data['wb1/HH2011.dta'].head()
len(stata_data['wb1/HH2011.dta']['ea'].unique())

100

In [6]:
stata_data['wb1/POP2011.dta'].head()

,pop_rec,division,zila,upzila,union,mauza,village,ea,rmo,hhno,...,sex,mar_stat,religion,disable,student,h_class,edu_fild,literacy,activity,emply_fl
0,1,10,4,9,1,165,0,1,2,30,...,1,1,2,0,2,7,1,1,1,3
1,1,10,4,9,1,165,0,1,2,50,...,1,2,1,0,2,5,1,1,1,1
2,1,10,4,9,1,165,0,1,2,70,...,2,2,1,0,2,0,4,2,1,1
3,1,10,4,9,1,567,0,1,2,16,...,2,2,1,0,2,15,1,1,1,1
4,1,10,4,9,1,567,0,1,2,56,...,1,1,1,0,2,0,0,0,0,0

In [8]:
stata_data['wb1/POP2011.dta'].describe()

,division,zila,upzila,union,mauza,village,ea,rmo,hhno,serial_no,...,sex,mar_stat,religion,disable,student,h_class,edu_fild,literacy,activity,emply_fl
count,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,...,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06,1.441144e+06
mean,3.533226e+01,4.849055e+01,4.940345e+01,4.411159e+01,5.011679e+02,1.546885e+00,5.348701e+00,1.837044e+00,8.202562e+01,5.697046e+11,...,1.500021e+00,1.563885e+00,1.115607e+00,4.779536e-02,1.772258e+00,3.709634e+00,1.729096e+00,1.252750e+00,2.225191e+00,5.618932e-01
std,1.438300e+01,2.733173e+01,2.700182e+01,2.798520e+01,2.851623e+02,2.525678e+00,9.190261e+00,2.167660e+00,4.487823e+02,1.124436e+11,...,5.000002e-01,5.796373e-01,4.027394e-01,4.332478e-01,4.193754e-01,4.207713e+00,1.484373e+00,7.060981e-01,1.504943e+00,1.002492e+00
min,1.000000e+01,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.500000e+11,...,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+01,2.600000e+01,2.700000e+01,1.900000e+01,2.550000e+02,1.000000e+00,1.000000e+00,1.000000e+00,2.700000e+01,6.006548e+11,...,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
50%,3.000000e+01,4.800000e+01,4.900000e+01,4.200000e+01,5.000000e+02,1.000000e+00,2.000000e+00,1.000000e+00,5.600000e+01,6.014888e+11,...,2.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,0.000000e+00
75%,5.000000e+01,7.300000e+01,7.200000e+01,6.900000e+01,7.480000e+02,1.000000e+00,5.000000e+00,1.000000e+00,8.700000e+01,6.025038e+11,...,2.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00,7.000000e+00,4.000000e+00,2.000000e+00,4.000000e+00,1.000000e+00
max,6.000000e+01,9.400000e+01,9.600000e+01,9.800000e+01,9.990000e+02,6.600000e+01,9.900000e+01,9.000000e+00,9.999000e+03,6.034958e+11,...,2.000000e+00,4.000000e+00,5.000000e+00,6.000000e+00,2.000000e+00,1.800000e+01,4.000000e+00,2.000000e+00,4.000000e+00,3.000000e+00

In [42]:
print(stata_data['wb1/POP2011.dta']['pop_rec'].astype('int').sum())
get_names(stata_data).to_csv("Census_Variables.csv")

1441144

- Number of variables
- Number of rows
- Create a hierarchical sample for Census 2010 data