In [4]:
import os
import sys
import glob
import tzlocal
import numpy as np
import pandas as pd
from scipy import io
from dbfread import DBF
from collections import Counter
import matplotlib.pyplot as plt
import rpy2.robjects as robjects
from rpy2.robjects import packages
from rpy2.robjects import pandas2ri
from simpledbf import Dbf5
from dbfread import DBF

def read_dbf(file):
    tmp = DBF(file)
    tmp = pd.DataFrame(iter(tmp))
    return tmp

def read_sav(file):
    foreign = packages.importr('foreign')
    pandas2ri.activate()
    df = foreign.read_spss(file, reencode=False)
    return pd.DataFrame(dict(zip(df.names, map(list,list(df)))))

def read_svrs(file):
    itr = pd.read_stata(file, iterator=True)
    variables = list(itr.variable_labels().values())
    data = pd.read_stata(os.path.join(file))
    original_variables = list(data.columns)
    data.columns = variables
    return data, original_variables

In [ ]:
SVRS2012_7 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/data/bbs/svrs/SVRS_12/tafsil-7.dbf'
SVRS2012_8 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/data/bbs/svrs/SVRS_12/tafsil-8.dbf'
SVRS2013 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/data/bbs/svrs/SVRS_13/pop_hh_14-05-2015.sav'
SVRS2014 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/data/bbs/svrs/SVRS_14/tafsil2P_12-06-2015.sav'
SVRS2015 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/data/bbs/svrs/SVRS_15/tafsil-2p.dbf'

SVRS2017_7 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/data/bbs/svrs/SVRS_17/tafsil-7.dta'
SVRS2017_8 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/data/bbs/svrs/SVRS_17/tafsil-8.dta'

In [7]:
svrs2012_7 = read_dbf(SVRS2012_7)
svrs2012_7 = read_dbf(SVRS2012_8)
svrs2017_7 = read_svrs(SVRS2017_7)
svrs2017_8 = read_svrs(SVRS2017_8)

In [10]:
svrs2017_7[0].columns

Index(['Primary Sampling Unit', 'Zila', 'Up zila', 'Union', 'Mauza',
       'Rural/Urban', 'Household number', 'Member serial number', 'Sex', 'Age',
       'Place of Out-migration', 'Name & Code of Zila/Country',
       'Causes of Out-migration', 'Month of Out-migration',
       ' Year of Out-migration', ' Types of Out-migration'],
      dtype='object')

In [18]:
len(svrs2017_7[0]['Name & Code of Zila/Country'].value_counts())

83

In [20]:
svrs2017_8[0].head()

,Primary Sampling Unit,Zila,Upzila,Union,Mauza,Rural/Urban,Household Number,Member Serial Number,Sex,Age,Causes of In-migration,Place of In-migration,Name & Code of Zila/Country,Month of In-migration,Year of In-migration,Types of In-migration
0,1.0,4.0,9.0,7.0,250.0,2.0,1.0,2.0,2.0,35.0,8.0,2.0,99.0,3.0,17.0,1.0
1,1.0,4.0,9.0,7.0,250.0,2.0,2.0,6.0,1.0,20.0,1.0,1.0,99.0,3.0,17.0,2.0
2,1.0,4.0,9.0,7.0,250.0,2.0,3.0,5.0,1.0,14.0,8.0,1.0,99.0,1.0,17.0,1.0
3,1.0,4.0,9.0,7.0,250.0,2.0,3.0,2.0,2.0,20.0,8.0,2.0,99.0,7.0,17.0,1.0
4,1.0,4.0,9.0,7.0,250.0,2.0,3.0,1.0,1.0,40.0,7.0,2.0,99.0,3.0,17.0,1.0