# DGFP Data: Importance 12: Districts: mchgo_distmonthprocess

## TO DO LIST:
- Make a function to read in files for each separate directory
- 
-

## Packages

In [1]:
import os
import glob
import requests
import pandas as pd

## Functions

In [2]:
def mchgo_distmonthprocess(path, ext):
    files_list = glob.glob(path + '/*.' + ext)
    data = list()
    for file in files_list:
        file_name = os.path.split(file)[1]
        tmp = pd.read_csv(file, sep='\t')
        tmp['district'] = file_name[11:-4]
        data.append(tmp)  
    return pd.concat(data, axis=0)

def ngodistrict_monthprocess(path, ext):
    files_list = glob.glob(path + '/*.' + ext)
    data = list()
    for file in files_list:
        file_name = os.path.split(file)[1]
        tmp = pd.read_csv(file, sep='\t')
        tmp['district'] = file_name[11:-4]
        data.append(tmp)  
    return pd.concat(data, axis=0)

def distributionGO_distmonthProcess(path, ext):
    files_list = glob.glob(path + '/*.' + ext)
    data = list()
    for file in files_list:
        file_name = os.path.split(file)[1]
        tmp = pd.read_csv(file, sep='\t')
        tmp['district'] = file_name[11:-4]
        data.append(tmp)  
    return pd.concat(data, axis=0)

def district_monthprocess(path, ext):
    files_list = glob.glob(path + '/*.' + ext)
    data = list()
    for file in files_list:
        file_name = os.path.split(file)[1]
        tmp = pd.read_csv(file, sep='\t')
        tmp['district'] = file_name[11:-4]
        data.append(tmp)  
    return pd.concat(data, axis=0)

## Description

In [11]:
os.listdir('data/importance12_districts/ngodistrict_monthprocess')

['2018-12-28-0305-03.csv',
 '2018-12-28-0114-01.csv',
 '2018-12-28-0209-02.csv',
 '2018-12-28-0205-02.csv',
 '2018-12-28-0108-07.csv',
 '2018-12-28-0411-04.csv',
 '2018-12-28-0403-04.csv',
 '2018-12-28-0104-07.csv',
 '2018-12-28-0414-08.csv',
 '2018-12-28-0503-05.csv',
 '2018-12-28-0511-05.csv',
 '2018-12-28-0106-07.csv',
 '2018-12-28-0602-06.csv',
 '2018-12-28-0401-04.csv',
 '2018-12-28-0501-05.csv',
 '2018-12-28-0116-01.csv',
 '2018-12-28-0207-02.csv',
 '2018-12-28-0505-05.csv',
 '2018-12-28-0509-05.csv',
 '2018-12-28-0409-04.csv',
 '2018-12-28-0102-07.csv',
 '2018-12-28-0405-04.csv',
 '2018-12-28-0203-02.csv',
 '2018-12-28-0303-03.csv',
 '2018-12-28-0112-01.csv',
 '2018-12-28-0201-02.csv',
 '2018-12-28-0110-01.csv',
 '2018-12-28-0301-03.csv',
 '2018-12-28-0507-05.csv',
 '2018-12-28-0407-04.csv',
 '2018-12-28-0604-06.csv',
 '2018-12-28-0502-05.csv',
 '2018-12-28-0510-05.csv',
 '2018-12-28-0410-04.csv',
 '2018-12-28-0415-08.csv',
 '2018-12-28-0601-06.csv',
 '2018-12-28-0105-07.csv',
 '2018-12-28-0402-04.csv',
 '2018-12-28-0208-02.csv',
 '2018-12-28-0204-02.csv',
 '2018-12-28-0304-03.csv',
 '2018-12-28-0115-01.csv',
 '2018-12-28-0206-02.csv',
 '2018-12-28-0109-01.csv',
 '2018-12-28-0306-03.csv',
 '2018-12-28-0417-08.csv',
 '2018-12-28-0107-07.csv',
 '2018-12-28-0603-06.csv',
 '2018-12-28-0412-04.csv',
 '2018-12-28-0302-03.csv',
 '2018-12-28-0113-01.csv',
 '2018-12-28-0210-02.csv',
 '2018-12-28-0202-02.csv',
 '2018-12-28-0416-04.csv',
 '2018-12-28-0408-04.csv',
 '2018-12-28-0404-04.csv',
 '2018-12-28-0103-07.csv',
 '2018-12-28-0413-08.csv',
 '2018-12-28-0504-05.csv',
 '2018-12-28-0508-05.csv',
 '2018-12-28-0101-07.csv',
 '2018-12-28-0406-04.csv',
 '2018-12-28-0506-05.csv',
 '2018-12-28-0111-01.csv']

In [13]:
mchgo_distmonthprocess_data = mchgo_distmonthprocess(path='data/importance12_districts/ngodistrict_monthprocess', ext='csv')
mchgo_distmonthprocess_data.head()

                                                                                         Dump For Table car_details from Database dgfpmis_ss8 on 10-25-2018 07:32  \
Dist_Name MonthYear      EC    Pill  Con  Inj   IUD Imp PerM PerF TPer TUser CAR                                                    NaN
Bhola     July 2007      39693 11196 2149 12778 910 264 289  710  999  28296 71.2871                                                NaN
          August 2007    39873 10594 1693 13939 915 264 294  705  999  28404 71.2362                                                NaN
          September 2007 40005 9830  1810 14123 917 240 307  699  1006 27926 69.8063                                                NaN
          October 2007   40106 10240 1283 14195 913 236 305  703  1008 27875 69.5033                                                NaN

                                                                                     district
Dist_Name MonthYear      EC    Pill  Con  Inj   IUD Imp PerM PerF TPer TUser CAR      0305-03
Bhola     July 2007      39693 11196 2149 12778 910 264 289  710  999  28296 71.2871  0305-03
          August 2007    39873 10594 1693 13939 915 264 294  705  999  28404 71.2362  0305-03
          September 2007 40005 9830  1810 14123 917 240 307  699  1006 27926 69.8063  0305-03
          October 2007   40106 10240 1283 14195 913 236 305  703  1008 27875 69.5033  0305-03

## FORMAT OF THE FILES

- Rows: Geographical units: districts
- Columns: Variables
- Datasets: years
-