# Tables: Maternal mortality rate

In [5]:
import pandas as pd

In [27]:
DATA = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/output/all/'
clusters_intersect_all = 'clusters_maternal_mortality_intersect_all.csv'
clusters_intersect_2016 = 'clusters_maternal_mortality_intersect_2016.csv'
clusters_intersect_2011 = 'clusters_maternal_mortality_intersect_2011.csv'
clusters_union_all = 'clusters_maternal_mortality_union_all.csv'
clusters_union_2016 = 'clusters_maternal_mortality_union_2016.csv'
clusters_union_2011 = 'clusters_maternal_mortality_union_2011.csv'
corr_2016 = 'corr_maternal_mortality_2016.csv'
cca_2016 = 'cca_maternal_mortality_2016.csv'
corr_2011 = 'corr_maternal_mortality_2011.csv'
cca_2011 = 'cca_maternal_mortality_2011.csv'
corr_cca = [corr_2011, cca_2011, corr_2016, cca_2016]

In [7]:
def read_corr_cca(dir_path, files_list):
    data_dict = {}
    for file in files_list:
        data_dict[file] = pd.read_csv(dir_path+file)
    return data_dict

## Summary tables

In [19]:
clusters_intersect = pd.read_csv(DATA+clusters_intersect_all)
clusters_union = pd.read_csv(DATA+clusters_union_all)

In [20]:
clusters_intersect_summ = clusters_intersect.groupby(['cluster', 'year']).median().transpose()
clusters_union_summ = clusters_union.groupby(['cluster', 'year']).median().transpose()

In [21]:
display(clusters_intersect_summ.head())
clusters_intersect_summ.to_csv(DATA+'/maternal_summaries/maternal_intersect.csv')

cluster                                                  0           \
year                                                  2011     2016
Nurse trained on IMCI working at SCANU, %            11.20    42.30
Pentavalent 1 to MR 2 dropout rate                    0.67    10.75
Upazilla EPI supervision form closing balance       293.00  1163.00
Crude coverage TT1 among mothers with 0-11 mont...   98.10    98.40
Crude coverage TT3 among mothers with 0-11 mont...   86.70    89.45

cluster                                                      1              \
year                                                      2011        2016
Nurse trained on IMCI working at SCANU, %            43.444444   59.648276
Pentavalent 1 to MR 2 dropout rate                    2.950000   20.400000
Upazilla EPI supervision form closing balance       102.000000  143.000000
Crude coverage TT1 among mothers with 0-11 mont...   98.600000   98.900000
Crude coverage TT3 among mothers with 0-11 mont...   85.450000   91.400000

cluster                                                2
year                                                2011   2016
Nurse trained on IMCI working at SCANU, %           83.6   77.1
Pentavalent 1 to MR 2 dropout rate                   4.2   19.8
Upazilla EPI supervision form closing balance       26.0  663.0
Crude coverage TT1 among mothers with 0-11 mont...  94.8   96.0
Crude coverage TT3 among mothers with 0-11 mont...  77.6   84.5

In [22]:
display(clusters_union_summ.head())
clusters_union_summ.to_csv(DATA+'/maternal_summaries/maternal_union.csv')

cluster                                                  0                  1  \
year                                                  2011       2016    2011
Crude coverage TT5 among mothers with 0-11 chil...   50.50     55.550  41.400
Proportion of rural deaths                           72.00     89.500  72.000
Under-5 mortality rate                               34.37     34.405  42.765
Distributed injectables out of total (thana) NG...   15.51     16.480  22.130
Differences between Pentavalent doses and vial ... -854.00  17294.500  93.000

cluster                                                               2  \
year                                                   2016        2011
Crude coverage TT5 among mothers with 0-11 chil...    53.40   38.600000
Proportion of rural deaths                            78.00   69.000000
Under-5 mortality rate                                33.61   42.190000
Distributed injectables out of total (thana) NG...    22.42   22.482833
Differences between Pentavalent doses and vial ...  5205.00  239.000000

cluster
year                                                   2016
Crude coverage TT5 among mothers with 0-11 chil...    50.70
Proportion of rural deaths                            72.00
Under-5 mortality rate                                38.87
Distributed injectables out of total (thana) NG...    22.16
Differences between Pentavalent doses and vial ...  9687.00

## Outcome variable

In [33]:
ALL2011 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/output/all/all2011.csv'
ALL2016 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/output/all/all2016.csv'
all2011 = pd.read_csv(ALL2011)
clusters_intersect2011 = pd.read_csv(DATA+clusters_intersect_2011)
all2016 = pd.read_csv(ALL2016)
clusters_intersect2016 = pd.read_csv(DATA+clusters_intersect_2016)
all2011 = all2011.merge(clusters_intersect2011[['DistrictName', 'cluster', ]], how='left', on='DistrictName')
all2016 = all2016.merge(clusters_intersect2016[['DistrictName', 'cluster', ]], how='left', on='DistrictName')
display(all2011[['rate_maternal_mortality', 'cluster']].groupby('cluster').median().transpose())
display(all2016[['rate_maternal_mortality', 'cluster']].groupby('cluster').median().transpose())

cluster                     0     1     2
rate_maternal_mortality  1.84  3.06  4.22

cluster                      0    1     2
rate_maternal_mortality  2.185  0.0  1.22

## Correlations

In [8]:
corr_cca = read_corr_cca(dir_path=DATA,files_list=corr_cca)
for key, value in corr_cca.items():
    print(key)
    display(value.head())
    display(value.shape)

corr_maternal_mortality_2011.csv

,index,Maternal mortality rate,abs_rate_maternal_mortality,p_value
0,Crude coverage TT2 among mothers with 0-11 chi...,-0.393280,0.393280,0.001305
1,Crude coverage TT1 among mothers with 0-11 mon...,-0.379661,0.379661,0.001974
2,Crude coverage TT3 among mothers with 0-11 mon...,-0.337610,0.337610,0.006367
3,Newborns delivered by SBA at facility that rec...,0.291370,0.291370,0.019494
4,Pentavalent 1 to MR 2 dropout rate,0.271447,0.271447,0.030030

(12, 4)

cca_maternal_mortality_2011.csv

                                          Indicators  CCA_coeff  CCA_coeff_abs
0  Crude coverage TT1 among mothers with 0-11 mon...  -0.271485       0.271485
1        Vitamin A coverage children 12-59 months, %  -0.104220       0.104220
2  Crude coverage TT2 among mothers with 0-11 chi...  -0.158135       0.158135
3  Crude coverage TT5 among mothers with 0-11 chi...   0.114816       0.114816
4       Crude coverage measles children 12 months, %   0.109101       0.109101

(28, 3)

corr_maternal_mortality_2016.csv

,index,Maternal mortality rate,abs_rate_maternal_mortality,p_value
0,"Neonatal death reported individually, %",0.334630,0.334630,0.006878
1,DHS: Sex ratio (males / females),-0.270372,0.270372,0.030714
2,PCV vial wastage rate,0.226345,0.226345,0.072099
3,Performed permanent methods out of total (than...,-0.223323,0.223323,0.076088
4,Performed permanent methods out of total (mont...,-0.223307,0.223307,0.076110

(6, 4)

cca_maternal_mortality_2016.csv

                                          Indicators  CCA_coeff  CCA_coeff_abs
0  Crude coverage TT1 among mothers with 0-11 mon...  -0.136305       0.136305
1  Crude coverage TT4 among mothers with 0-11 mon...  -0.109596       0.109596
2  Crude coverage TT3 among mothers with 0-11 mon...  -0.121278       0.121278
3                             Under-5 mortality rate  -0.112080       0.112080
4             Proportion of married women (15 years)  -0.109768       0.109768

(32, 3)

## Deprecated code

```
## Union of corr_maternal_mortality_2011.csv and corr_maternal_mortality_2011.csv
corr2011 = corr_cca['corr_maternal_mortality_2011.csv']['index']
cca2011 = corr_cca['cca_maternal_mortality_2011.csv']['Indicators']
vars2011 = list(set(corr2011).union(set(cca2011)))
## Union of corr_maternal_mortality_2016.csv and corr_maternal_mortality_2016.csv
corr2016 = corr_cca['corr_maternal_mortality_2016.csv']['index']
cca2016 = corr_cca['cca_maternal_mortality_2016.csv']['Indicators']
vars2016 = list(set(corr2016).union(set(cca2016)))
## Intersection of 2011 and 2016 variables
vars_intersect = list(set(vars2011).intersection(vars2016))
vars_union = list(set(vars2011).union(vars2016))
vars_intersect.append('clusters')
vars_union.append('clusters')
```