# Tables: Antenatal coverage

In [1]:
import pandas as pd

In [2]:
DATA = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/output/all/'
clusters_intersect_all = 'clusters_antenatal_coverage_intersect_all.csv'
clusters_intersect_2016 = 'clusters_antenatal_coverage_intersect_2016.csv'
clusters_intersect_2011 = 'clusters_antenatal_coverage_intersect_2011.csv'
clusters_union_all = 'clusters_antenatal_coverage_union_all.csv'
clusters_union_2016 = 'clusters_antenatal_coverage_union_2016.csv'
clusters_union_2011 = 'clusters_antenatal_coverage_union_2011.csv'
corr_2016 = 'corr_antenatal_coverage_2016.csv'
cca_2016 = 'cca_antenatal_coverage_2016.csv'
corr_2011 = 'corr_antenatal_coverage_2011.csv'
cca_2011 = 'cca_antenatal_coverage_2011.csv'
corr_cca = [corr_2011, cca_2011, corr_2016, cca_2016]

In [3]:
def read_corr_cca(dir_path, files_list):
    data_dict = {}
    for file in files_list:
        data_dict[file] = pd.read_csv(dir_path+file)
    return data_dict

## Summary tables

In [4]:
clusters_intersect = pd.read_csv(DATA+clusters_intersect_all)
clusters_union = pd.read_csv(DATA+clusters_union_all)

In [5]:
clusters_intersect_summ = clusters_intersect.groupby(['cluster', 'year']).median().transpose()
clusters_union_summ = clusters_union.groupby(['cluster', 'year']).median().transpose()

In [6]:
display(clusters_intersect_summ.head())
clusters_intersect_summ.to_csv(DATA+'/anc_summaries/anc_intersect.csv')

cluster                                                 0              \
year                                                 2011        2016
Dependency ratio                                63.840000   64.720000
Referral cases admitted at SCANU, %             61.902941   57.970588
DHS: Proportion of women population             77.440000   60.850000
Sex ratio                                      103.300000  100.890000
Upazilla EPI supervision form closing balance  663.000000  354.000000

cluster                                                 1              \
year                                                 2011        2016
Dependency ratio                                57.495000   57.110000
Referral cases admitted at SCANU, %             61.902941   57.970588
DHS: Proportion of women population             45.540000   43.280000
Sex ratio                                      100.825000   99.085000
Upazilla EPI supervision form closing balance    0.000000  235.000000

cluster                                              2                   3  \
year                                              2011    2016        2011
Dependency ratio                                57.320   55.68   48.950000
Referral cases admitted at SCANU, %             64.250   60.30   61.902941
DHS: Proportion of women population             62.160   44.26   51.320000
Sex ratio                                      105.485  103.33  103.300000
Upazilla EPI supervision form closing balance  221.000  232.00   21.000000

cluster
year                                                 2016
Dependency ratio                                52.670000
Referral cases admitted at SCANU, %             57.970588
DHS: Proportion of women population             52.010000
Sex ratio                                      101.165000
Upazilla EPI supervision form closing balance   45.500000

In [10]:
clusters_union_summ.columns

MultiIndex(levels=[[0, 1, 2, 3], [2011, 2016]],
           codes=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['cluster', 'year'])

In [7]:
display(clusters_union_summ.head())
clusters_union_summ.to_csv(DATA+'/anc_summaries/anc_union.csv')

cluster                                               0                     1  \
year                                               2011       2016       2011
Contraceptive acceptance rate (thana) NGO, %  76.735167  82.040000  74.880000
Neonatal case fatality rate (EmOC)             0.340700   0.479100   0.390500
Crude coverage penta 2 children 23 months, %  93.500000  95.700000  98.500000
Proportion of rural deaths                    65.000000  81.000000  75.500000
Nurse training on KMC at SCANU, %             66.354167  63.611538  66.354167

cluster                                                          2           \
year                                               2016       2011     2016
Contraceptive acceptance rate (thana) NGO, %  79.330000  77.835000  81.9700
Neonatal case fatality rate (EmOC)             0.299250   0.453350   0.4233
Crude coverage penta 2 children 23 months, %  98.000000  97.950000  97.3000
Proportion of rural deaths                    74.500000  72.000000  80.0000
Nurse training on KMC at SCANU, %             63.611538  66.354167  62.8000

cluster                                               3
year                                               2011       2016
Contraceptive acceptance rate (thana) NGO, %  80.430000  80.207213
Neonatal case fatality rate (EmOC)             0.097800   0.215150
Crude coverage penta 2 children 23 months, %  98.900000  98.100000
Proportion of rural deaths                    65.000000  71.500000
Nurse training on KMC at SCANU, %             66.354167  63.611538

## Correlations

In [8]:
corr_cca = read_corr_cca(dir_path=DATA,files_list=corr_cca)
for key, value in corr_cca.items():
    print(key)
    display(value.head())
    display(value.shape)

corr_antenatal_coverage_2011.csv

,index,DHS: Proportion of antenatal coverage,abs_antenatal_coverage,p_value
0,DHS: Proportion of C-sections,0.684099,0.684099,4.623235e-10
1,DHS: Proportion of attendant deliveries,0.671220,0.671220,1.280299e-09
2,DHS: Proportion of institutional deliveries,0.632610,0.632610,2.048893e-08
3,DHS: Proportion of women (15-45 years),0.543440,0.543440,3.479477e-06
4,DHS: Dependency ratio,-0.517718,0.517718,1.180959e-05

(46, 4)

cca_antenatal_coverage_2011.csv

                                          Indicators  CCA_coeff  CCA_coeff_abs
0  Crude coverage TT4 among mothers with 0-11 mon...  -0.182782       0.182782
1  Crude coverage TT5 among mothers with 0-11 chi...  -0.142744       0.142744
2           Crude coverage BCG children 12 months, %   0.102570       0.102570
3                  Proportion of women (15-45 years)  -0.122544       0.122544
4                    Proportion of registered births   0.124551       0.124551

(31, 3)

corr_antenatal_coverage_2016.csv

,index,DHS: Proportion of antenatal coverage,abs_antenatal_coverage,p_value
0,DHS: Proportion of attendant deliveries,0.774294,0.774294,6.170175e-14
1,DHS: Proportion of institutional deliveries,0.772737,0.772737,7.444530e-14
2,DHS: Proportion of C-sections,0.741550,0.741550,2.405134e-12
3,DHS: Dependency ratio,-0.406460,0.406460,8.599801e-04
4,DHS: Proportion of women (15-45 years),0.400571,0.400571,1.038380e-03

(17, 4)

cca_antenatal_coverage_2016.csv

                                    Indicators  CCA_coeff  CCA_coeff_abs
0  Vitamin A coverage children 12-59 months, %  -0.203491       0.203491
1                   Proportion of rural deaths  -0.105043       0.105043
2               Proportion of women population   0.118521       0.118521
3                             Dependency ratio  -0.124174       0.124174
4                                    Sex ratio  -0.114493       0.114493

(28, 3)