# Tables: Under 5 mortality rate

In [1]:
import pandas as pd

In [2]:
DATA = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/output/all/'
clusters_intersect_all = 'clusters_under5_mortality_intersect_all.csv'
clusters_intersect_2016 = 'clusters_under5_mortality_intersect_2016.csv'
clusters_intersect_2011 = 'clusters_under5_mortality_intersect_2011.csv'
clusters_union_all = 'clusters_under5_mortality_union_all.csv'
clusters_union_2016 = 'clusters_under5_mortality_union_2016.csv'
clusters_union_2011 = 'clusters_under5_mortality_union_2011.csv'
corr_2016 = 'corr_under5_mortality_2016.csv'
cca_2016 = 'cca_under5_mortality_2016.csv'
corr_2011 = 'corr_under5_mortality_2011.csv'
cca_2011 = 'cca_under5_mortality_2011.csv'
corr_cca = [corr_2011, cca_2011, corr_2016, cca_2016]

In [3]:
def read_corr_cca(dir_path, files_list):
    data_dict = {}
    for file in files_list:
        data_dict[file] = pd.read_csv(dir_path+file)
    return data_dict

## Summary tables

In [4]:
clusters_intersect = pd.read_csv(DATA+clusters_intersect_all)
clusters_union = pd.read_csv(DATA+clusters_union_all)

In [5]:
clusters_intersect_summ = clusters_intersect.groupby(['cluster', 'year']).median().transpose()
clusters_union_summ = clusters_union.groupby(['cluster', 'year']).median().transpose()

In [6]:
display(clusters_intersect_summ.head())
clusters_intersect_summ.to_csv(DATA+'/under5_summaries/under5_intersect.csv')

cluster                                                   0              \
year                                                   2011        2016
Child mortality rate                               1.765000    1.550000
Male baby admitted in SCANU reported monthly, %   60.864706   60.205882
Crude coverage OPV 0, %                            3.500000    3.550000
Upazilla EPI supervision form closing balance    261.500000  259.500000
Proportion of live births                         98.820000   96.740000

cluster                                               1              2  \
year                                               2011   2016    2011
Child mortality rate                              3.460   2.92   2.210
Male baby admitted in SCANU reported monthly, %  59.600  59.30  61.350
Crude coverage OPV 0, %                           7.400   8.80  15.800
Upazilla EPI supervision form closing balance    75.000  57.00   2.000
Proportion of live births                        99.065  97.70  98.855

cluster
year                                                  2016
Child mortality rate                              1.960000
Male baby admitted in SCANU reported monthly, %  60.205882
Crude coverage OPV 0, %                          14.400000
Upazilla EPI supervision form closing balance    26.000000
Proportion of live births                        96.460000

In [7]:
display(clusters_union_summ.head())
clusters_union_summ.to_csv(DATA+'/under5_summaries/under5_union.csv')

cluster                                                     0               1  \
year                                                     2011    2016    2011
Fully vaccinated children 23 months, %              82.600000  87.750  82.900
Maternal mortality rate                              2.820000   0.610   3.105
Distributed condoms out of total (thana) NGO, %     13.621167  13.035  12.400
Distributed injectables out of total (month, th...  19.920000  19.115  23.190
DHS: Proportion of C-sections                       14.680000  21.195  11.995

cluster                                                             2
year                                                     2016    2011   2016
Fully vaccinated children 23 months, %              86.500000  84.300  87.90
Maternal mortality rate                              0.000000   5.025   0.00
Distributed condoms out of total (thana) NGO, %     13.429677  10.415  10.51
Distributed injectables out of total (month, th...  22.666935  27.795  29.28
DHS: Proportion of C-sections                       21.030000   9.395  24.94

## Correlations

In [8]:
corr_cca = read_corr_cca(dir_path=DATA,files_list=corr_cca)
for key, value in corr_cca.items():
    print(key)
    display(value.head())
    display(value.shape)

corr_under5_mortality_2011.csv

,index,Under-5 mortality rate,abs_rate_under5_mortality,p_value
0,Infant mortality rate,0.846832,0.846832,1.183101e-18
1,DHS: Proportion of antenatal coverage,-0.459151,0.459151,1.355096e-04
2,DHS: Proportion of attendant deliveries,-0.442121,0.442121,2.545173e-04
3,DHS: Proportion of C-sections,-0.440108,0.440108,2.736160e-04
4,DHS: Proportion of institutional deliveries,-0.397629,0.397629,1.139450e-03

(44, 4)

cca_under5_mortality_2011.csv

                                          Indicators  CCA_coeff  CCA_coeff_abs
0  Crude coverage TT1 among mothers with 0-11 mon...   0.100790       0.100790
1                              Infant mortality rate   0.653603       0.653603
2                                         Death rate   0.142165       0.142165
3                               Child mortality rate   0.209118       0.209118
4  Maternal death reported individually with caus...  -0.155909       0.155909

(13, 3)

corr_under5_mortality_2016.csv

,index,Under-5 mortality rate,abs_rate_under5_mortality,p_value
0,Infant mortality rate,0.953170,0.953170,6.656469e-34
1,Child mortality rate,0.499057,0.499057,2.698398e-05
2,Proportion of live births,-0.477845,0.477845,6.522859e-05
3,"Distributed injectables out of total (month, t...",0.337380,0.337380,6.405409e-03
4,Distributed injectables out of total (thana) N...,0.337380,0.337380,6.405409e-03

(22, 4)

cca_under5_mortality_2016.csv

                              Indicators  CCA_coeff  CCA_coeff_abs
0                  Infant mortality rate   0.643482       0.643482
1                Maternal mortality rate  -0.111961       0.111961
2              Proportion of live births  -0.253621       0.253621
3                   Child mortality rate   0.341876       0.341876
4  Non-functional photo therapty unit, %  -0.147996       0.147996

(13, 3)