# Tables: Maternal mortality rate

In [1]:
import pandas as pd

In [2]:
DATA = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/output/all/'
clusters_intersect_all = 'clusters_maternal_mortality_intersect_all.csv'
clusters_intersect_2016 = 'clusters_maternal_mortality_intersect_2016.csv'
clusters_intersect_2011 = 'clusters_maternal_mortality_intersect_2011.csv'
clusters_union_all = 'clusters_maternal_mortality_union_all.csv'
clusters_union_2016 = 'clusters_maternal_mortality_union_2016.csv'
clusters_union_2011 = 'clusters_maternal_mortality_union_2011.csv'
corr_2016 = 'corr_maternal_mortality_2016.csv'
cca_2016 = 'cca_maternal_mortality_2016.csv'
corr_2011 = 'corr_maternal_mortality_2011.csv'
cca_2011 = 'cca_maternal_mortality_2011.csv'
corr_cca = [corr_2011, cca_2011, corr_2016, cca_2016]

In [3]:
def read_corr_cca(dir_path, files_list):
    data_dict = {}
    for file in files_list:
        data_dict[file] = pd.read_csv(dir_path+file)
    return data_dict

## Summary tables

In [4]:
clusters_intersect = pd.read_csv(DATA+clusters_intersect_all)
clusters_union = pd.read_csv(DATA+clusters_union_all)

In [5]:
clusters_intersect_summ = clusters_intersect.groupby(['cluster', 'year']).median().transpose()
clusters_union_summ = clusters_union.groupby(['cluster', 'year']).median().transpose()

In [6]:
display(clusters_intersect_summ.head())
clusters_intersect_summ.to_csv(DATA+'/maternal_summaries/maternal_intersect.csv')

cluster                                                     0             \
year                                                     2011       2016
TT vial wastage rate                                12.300000  17.700000
Pentavalent 1 to MR 2 dropout rate                   1.000000  16.800000
DHS: Sex ratio (males / females)                    93.140000  93.090000
Medical officer bed ratio at SCANU (recommended...   0.056250   0.054545
Nurse trained on IMCI working at SCANU, %           43.444444  59.648276

cluster                                                     1             \
year                                                     2011       2016
TT vial wastage rate                                16.500000  29.200000
Pentavalent 1 to MR 2 dropout rate                   5.500000  20.200000
DHS: Sex ratio (males / females)                    94.130000  93.520000
Medical officer bed ratio at SCANU (recommended...   0.000000   0.000000
Nurse trained on IMCI working at SCANU, %           43.444444  92.174138

cluster                                                     2
year                                                     2011       2016
TT vial wastage rate                                21.050000  27.800000
Pentavalent 1 to MR 2 dropout rate                   3.100000  20.650000
DHS: Sex ratio (males / females)                    94.730000  93.650000
Medical officer bed ratio at SCANU (recommended...   0.056250   0.054545
Nurse trained on IMCI working at SCANU, %           43.444444  59.648276

In [8]:
display(clusters_union_summ)
clusters_union_summ.to_csv(DATA+'/maternal_summaries/maternal_union.csv')

cluster                                                       0                \
year                                                       2011          2016
Nurse training on KMC at SCANU, %                     66.354167     63.611538
Distributed condoms out of total (thana) NGO, %       20.790000     18.620000
Pentavalent vial wastage rate                          0.555000     -2.100000
Rate of distributed ECPs                               1.553400      0.000000
Proportion of women population                        49.685000     49.670000
OPV vial wastage rate                                 16.900000      9.700000
Non-functioning table resuscitator with radiant...    33.577419     30.150000
Newborn who received postnatal care within two ...    24.550000      9.100000
Performed permanent methods out of total (month...     1.400000      2.260000
Newborns delivered by SBA at facility that rece...    41.350000     29.900000
BCG vial wastage rate                                 80.900000     81.700000
Pentavalent 1 to MR 2 dropout rate                    -0.005000     19.600000
Crude coverage TT1 among mothers with 0-11 mont...    98.100000     98.200000
Case fatality rate at SCANU                            8.332353      8.473529
Neonatal death reported individually, %             1302.100000    486.400000
Distributed condoms out of total (month, thana), %    10.370000     11.140000
Medical officer bed ratio at SCANU (recommended...     0.056250      0.054545
Crude coverage measles children 12 months, %          84.900000     88.700000
DHS: Sex ratio (males / females)                      96.925000     92.000000
Crude coverage TT5 among mothers with 0-11 chil...    35.700000     47.800000
Distributed condoms out of total (month, thana)...    20.790000     18.620000
Crude coverage OPV 1, %                               99.900000    101.200000
DHS: Proportion of registered                         35.045000     29.470000
Proportion of married women (15 years)                71.200000     75.160000
Nurse trained on IMCI working at SCANU, %             43.444444     59.648276
Upazilla EPI supervision form closing balance         31.000000      1.000000
Sex ratio                                            101.260000    101.320000
IMCI underweight, %                                    0.795000      1.900000
Dependency ratio                                      48.500000     48.030000
Crude coverage TT3 among mothers with 0-11 mont...    83.550000     87.700000
Proportion of rural deaths                            49.500000     57.000000
Death rate                                             5.170000      4.610000
TT vial wastage rate                                  14.500000     16.100000
Crude coverage TT2 among mothers with 0-11 chil...    96.700000     96.200000
Contraceptive acceptance rate (CAR) NGO (month,...    75.135000     80.950000
DHS: Proportion of rural women population             34.825000     31.110000
DHS: Proportion of rural population                   65.670000     59.350000
IMCI stunting, %                                       0.215000      1.400000
DHS: Proportion of antenatal coverage                 54.420000     70.320000
Crude coverage MR 2, %                                99.200000     85.300000
Crude coverage TT4 among mothers with 0-11 mont...    58.550000     69.600000
Contraceptive acceptance rate (thana) NGO, %          75.135000     80.950000
Distributed condoms out of total (thana), %           10.370000     11.140000
Child mortality rate                                   0.400000      1.650000
Under-5 mortality rate                                36.930000     50.470000
Nurse bed ratio at SCANU (recommended 0.8)             0.578125      0.794545
Differences between Pentavalent doses and vial ...  -197.000000   4761.000000
Crude coverage fIPV1, %                               95.200000     45.000000
Distributed injectables out of total (month, th...    20.820000     22.160000
Maternal case fatality rate (EmOC)                     0.016400      0.009200
Nurse allocated in SCANU among all nurses in th...    28.478788     30.915152
DHS: Proportion of females as head of household       11.175000     16.630000
Distributed injectables out of total (thana) NG...    20.820000     22.160000
PCV vial wastage rate                                  3.650000    -74.600000
Rate of distributed condoms                         5989.875550  11697.003300
Performed permanent methods out of total (thana...     1.400000      2.260000
Proportion of women (15-45 years)                     53.845000     52.590000
Pentavalent vial use and doses ratio                   0.550000     -2.100000
Vitamin A coverage children 12-59 months, %           93.550000     90.600000
Diarrhea reported at facility, %                      10.135000     11.140000

cluster                                                       1                \
year                                                       2011          2016
Nurse training on KMC at SCANU, %                     66.354167     63.611538
Distributed condoms out of total (thana) NGO, %       14.700000     14.004839
Pentavalent vial wastage rate                          0.125000     -4.500000
Rate of distributed ECPs                               1.933300      0.000000
Proportion of women population                        49.475000     50.325000
OPV vial wastage rate                                 17.300000     10.750000
Non-functioning table resuscitator with radiant...    33.577419     30.150000
Newborn who received postnatal care within two ...    37.200000     31.350000
Performed permanent methods out of total (month...     1.940000      2.635000
Newborns delivered by SBA at facility that rece...    63.150000     51.600000
BCG vial wastage rate                                 84.200000     83.400000
Pentavalent 1 to MR 2 dropout rate                     2.750000     13.650000
Crude coverage TT1 among mothers with 0-11 mont...    97.850000     98.050000
Case fatality rate at SCANU                            8.332353      8.473529
Neonatal death reported individually, %              390.500000    374.450000
Distributed condoms out of total (month, thana), %     9.525000      9.775000
Medical officer bed ratio at SCANU (recommended...     0.056250      0.054545
Crude coverage measles children 12 months, %          83.900000     87.550000
DHS: Sex ratio (males / females)                      91.350000     92.715000
Crude coverage TT5 among mothers with 0-11 chil...    49.250000     58.050000
Distributed condoms out of total (month, thana)...    14.700000     14.004839
Crude coverage OPV 1, %                               97.600000     98.200000
DHS: Proportion of registered                         33.325000     18.480000
Proportion of married women (15 years)                65.710000     70.230000
Nurse trained on IMCI working at SCANU, %             43.444444     59.648276
Upazilla EPI supervision form closing balance        234.000000    508.000000
Sex ratio                                            102.140000     98.715000
IMCI underweight, %                                    2.450000      2.700000
Dependency ratio                                      62.580000     62.655000
Crude coverage TT3 among mothers with 0-11 mont...    86.450000     91.250000
Proportion of rural deaths                            74.500000     82.500000
Death rate                                             4.560000      5.400000
TT vial wastage rate                                  18.850000     22.150000
Crude coverage TT2 among mothers with 0-11 chil...    96.450000     96.950000
Contraceptive acceptance rate (CAR) NGO (month,...    73.735000     77.855000
DHS: Proportion of rural women population              7.765000      9.110000
DHS: Proportion of rural population                   15.070000     17.305000
IMCI stunting, %                                       1.105000      1.450000
DHS: Proportion of antenatal coverage                 37.280000     57.745000
Crude coverage MR 2, %                                95.900000     82.250000
Crude coverage TT4 among mothers with 0-11 mont...    69.250000     77.600000
Contraceptive acceptance rate (thana) NGO, %          73.735000     77.855000
Distributed condoms out of total (thana), %            9.525000      9.775000
Child mortality rate                                   2.410000      1.505000
Under-5 mortality rate                                40.510000     31.275000
Nurse bed ratio at SCANU (recommended 0.8)             0.578125      0.794545
Differences between Pentavalent doses and vial ...    77.500000  16029.500000
Crude coverage fIPV1, %                               92.100000     45.300000
Distributed injectables out of total (month, th...    22.476417     20.430000
Maternal case fatality rate (EmOC)                     0.106950      0.020300
Nurse allocated in SCANU among all nurses in th...    28.478788     30.915152
DHS: Proportion of females as head of household       15.520000     11.990000
Distributed injectables out of total (thana) NG...    22.476417     20.430000
PCV vial wastage rate                                  4.950000    -61.450000
Rate of distributed condoms                         2819.772200   3306.655500
Performed permanent methods out of total (thana...     1.940000      2.635000
Proportion of women (15-45 years)                     48.135000     49.155000
Pentavalent vial use and doses ratio                  -0.060000     -4.550000
Vitamin A coverage children 12-59 months, %           94.300000     89.950000
Diarrhea reported at facility, %                      12.445000     12.900000

cluster                                                       2
year                                                       2011         2016
Nurse training on KMC at SCANU, %                     66.354167    63.611538
Distributed condoms out of total (thana) NGO, %       11.785000    11.180000
Pentavalent vial wastage rate                          0.000000    -2.400000
Rate of distributed ECPs                               1.244300     0.000000
Proportion of women population                        49.085000    49.660000
OPV vial wastage rate                                 20.500000    18.800000
Non-functioning table resuscitator with radiant...    33.577419    30.150000
Newborn who received postnatal care within two ...    24.300000    26.100000
Performed permanent methods out of total (month...     3.840000     4.320000
Newborns delivered by SBA at facility that rece...    53.250000    48.800000
BCG vial wastage rate                                 86.150000    86.200000
Pentavalent 1 to MR 2 dropout rate                     3.650000    20.600000
Crude coverage TT1 among mothers with 0-11 mont...    98.350000    98.900000
Case fatality rate at SCANU                            8.266176     8.473529
Neonatal death reported individually, %              751.500000   643.200000
Distributed condoms out of total (month, thana), %     6.185000     7.630000
Medical officer bed ratio at SCANU (recommended...     0.056250     0.000000
Crude coverage measles children 12 months, %          86.750000    88.400000
DHS: Sex ratio (males / females)                      96.380000    94.060000
Crude coverage TT5 among mothers with 0-11 chil...    40.000000    50.700000
Distributed condoms out of total (month, thana)...    11.785000    11.180000
Crude coverage OPV 1, %                               99.450000    99.000000
DHS: Proportion of registered                         27.915000    17.640000
Proportion of married women (15 years)                70.880000    73.750000
Nurse trained on IMCI working at SCANU, %             43.444444    59.648276
Upazilla EPI supervision form closing balance         30.000000    34.000000
Sex ratio                                            103.730000   101.390000
IMCI underweight, %                                    2.550000     2.200000
Dependency ratio                                      54.495000    53.350000
Crude coverage TT3 among mothers with 0-11 mont...    83.550000    90.200000
Proportion of rural deaths                            71.000000    77.000000
Death rate                                             5.805000     5.350000
TT vial wastage rate                                  17.750000    27.700000
Crude coverage TT2 among mothers with 0-11 chil...    96.200000    97.800000
Contraceptive acceptance rate (CAR) NGO (month,...    79.125000    81.940000
DHS: Proportion of rural women population              5.795000     7.360000
DHS: Proportion of rural population                   11.750000    13.880000
IMCI stunting, %                                       1.150000     0.700000
DHS: Proportion of antenatal coverage                 35.450000    52.320000
Crude coverage MR 2, %                                96.200000    79.300000
Crude coverage TT4 among mothers with 0-11 mont...    63.100000    73.000000
Contraceptive acceptance rate (thana) NGO, %          79.125000    81.940000
Distributed condoms out of total (thana), %            6.185000     7.630000
Child mortality rate                                   2.235000     1.980000
Under-5 mortality rate                                43.455000    34.880000
Nurse bed ratio at SCANU (recommended 0.8)             0.578125     0.794545
Differences between Pentavalent doses and vial ...   211.500000  5205.000000
Crude coverage fIPV1, %                               92.250000    44.200000
Distributed injectables out of total (month, th...    22.111417    22.420000
Maternal case fatality rate (EmOC)                     0.075750     0.023600
Nurse allocated in SCANU among all nurses in th...    28.478788    30.915152
DHS: Proportion of females as head of household        5.090000     5.820000
Distributed injectables out of total (thana) NG...    22.111417    22.420000
PCV vial wastage rate                                  6.350000   -58.100000
Rate of distributed condoms                         2681.753650  2673.965200
Performed permanent methods out of total (thana...     3.840000     4.320000
Proportion of women (15-45 years)                     50.410000    50.940000
Pentavalent vial use and doses ratio                  -0.170000    -2.600000
Vitamin A coverage children 12-59 months, %           93.550000    92.500000
Diarrhea reported at facility, %                      11.240000    11.570000

## Outcome variable

In [10]:
ALL2011 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/output/all/all2011.csv'
ALL2016 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/output/all/all2016.csv'
all2011 = pd.read_csv(ALL2011)
clusters_intersect2011 = pd.read_csv(DATA+clusters_intersect_2011)
all2016 = pd.read_csv(ALL2016)
clusters_intersect2016 = pd.read_csv(DATA+clusters_intersect_2016)
all2011 = all2011.merge(clusters_intersect2011[['DistrictName', 'cluster', ]], how='left', on='DistrictName')
all2016 = all2016.merge(clusters_intersect2016[['DistrictName', 'cluster', ]], how='left', on='DistrictName')
display(all2011[['rate_maternal_mortality', 'cluster']].groupby('cluster').median().transpose())
display(all2016[['rate_maternal_mortality', 'cluster']].groupby('cluster').median().transpose())

cluster                    0     1      2
rate_maternal_mortality  3.4  4.69  2.565

cluster                     0      1    2
rate_maternal_mortality  0.61  4.125  0.0

In [11]:
ALL2011 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/output/all/all2011.csv'
ALL2016 = '/Users/edinhamzic/Symphony/wb_bangladesh/Bangladesh/output/all/all2016.csv'
all2011 = pd.read_csv(ALL2011)
clusters_union2011 = pd.read_csv(DATA+clusters_union_2011)
all2016 = pd.read_csv(ALL2016)
clusters_union2016 = pd.read_csv(DATA+clusters_union_2016)
all2011 = all2011.merge(clusters_union2011[['DistrictName', 'cluster', ]], how='left', on='DistrictName')
all2016 = all2016.merge(clusters_union2016[['DistrictName', 'cluster', ]], how='left', on='DistrictName')
display(all2011[['rate_maternal_mortality', 'cluster']].groupby('cluster').median().transpose())
display(all2016[['rate_maternal_mortality', 'cluster']].groupby('cluster').median().transpose())

cluster                    0     1      2
rate_maternal_mortality  3.6  2.16  3.455

cluster                     0    1    2
rate_maternal_mortality  5.36  0.0  0.0

In [10]:
print(all2011['cluster'].value_counts())
print(all2016['cluster'].value_counts())

2    40
1    18
0     6
Name: cluster, dtype: int64
2    41
1    18
0     5
Name: cluster, dtype: int64

## Correlations

In [11]:
corr_cca = read_corr_cca(dir_path=DATA,files_list=corr_cca)
for key, value in corr_cca.items():
    print(key)
    display(value.head())
    display(value.shape)

corr_maternal_mortality_2011.csv

,index,Maternal mortality rate,abs_rate_maternal_mortality,p_value
0,Crude coverage TT2 among mothers with 0-11 chi...,-0.393280,0.393280,0.001305
1,Crude coverage TT1 among mothers with 0-11 mon...,-0.379661,0.379661,0.001974
2,Crude coverage TT3 among mothers with 0-11 mon...,-0.337610,0.337610,0.006367
3,Newborns delivered by SBA at facility that rec...,0.291370,0.291370,0.019494
4,Pentavalent 1 to MR 2 dropout rate,0.271447,0.271447,0.030030

(12, 4)

cca_maternal_mortality_2011.csv

                                          Indicators  CCA_coeff  CCA_coeff_abs
0  Crude coverage TT1 among mothers with 0-11 mon...  -0.271485       0.271485
1        Vitamin A coverage children 12-59 months, %  -0.104220       0.104220
2  Crude coverage TT2 among mothers with 0-11 chi...  -0.158135       0.158135
3  Crude coverage TT5 among mothers with 0-11 chi...   0.114816       0.114816
4       Crude coverage measles children 12 months, %   0.109101       0.109101

(28, 3)

corr_maternal_mortality_2016.csv

,index,Maternal mortality rate,abs_rate_maternal_mortality,p_value
0,"Neonatal death reported individually, %",0.334630,0.334630,0.006878
1,DHS: Sex ratio (males / females),-0.270372,0.270372,0.030714
2,PCV vial wastage rate,0.226345,0.226345,0.072099
3,Performed permanent methods out of total (than...,-0.223323,0.223323,0.076088
4,Performed permanent methods out of total (mont...,-0.223307,0.223307,0.076110

(6, 4)

cca_maternal_mortality_2016.csv

                                          Indicators  CCA_coeff  CCA_coeff_abs
0  Crude coverage TT1 among mothers with 0-11 mon...  -0.136305       0.136305
1  Crude coverage TT4 among mothers with 0-11 mon...  -0.109596       0.109596
2  Crude coverage TT3 among mothers with 0-11 mon...  -0.121278       0.121278
3                             Under-5 mortality rate  -0.112080       0.112080
4             Proportion of married women (15 years)  -0.109768       0.109768

(32, 3)

## Deprecated code

```
## Union of corr_maternal_mortality_2011.csv and corr_maternal_mortality_2011.csv
corr2011 = corr_cca['corr_maternal_mortality_2011.csv']['index']
cca2011 = corr_cca['cca_maternal_mortality_2011.csv']['Indicators']
vars2011 = list(set(corr2011).union(set(cca2011)))
## Union of corr_maternal_mortality_2016.csv and corr_maternal_mortality_2016.csv
corr2016 = corr_cca['corr_maternal_mortality_2016.csv']['index']
cca2016 = corr_cca['cca_maternal_mortality_2016.csv']['Indicators']
vars2016 = list(set(corr2016).union(set(cca2016)))
## Intersection of 2011 and 2016 variables
vars_intersect = list(set(vars2011).intersection(vars2016))
vars_union = list(set(vars2011).union(vars2016))
vars_intersect.append('clusters')
vars_union.append('clusters')
```